<!DOCTYPE html>
<html>
    <head>
        <title>Lisa D - Brands</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <h1>Brands</h1>
        
<!Joseph Ribkoff>
        <img class='logo logo-negative', src='https://www.josephribkoff.com/images/logo-josephribkoff-footer@2x.png'>
        <img src='https://static1.squarespace.com/static/576b27d9725e25219ae01e39/57bc9c70e3df28654edd6757/593047c41b631beb9ec2b812/1496337201853/FA17_Cover.jpg?format=1500w'>

<!Sacha Drake>
        <img class='logo', src='http://www.sachadrake.com/images/assetimages/m-logo.png'>
        <img src='http://www.sachadrake.com/productimages/medium/2/1722_11964_10207.jpg'>

<!Foil>
        <img class='logo', src='http://www.chartzyandme.com.au/au/wp-content/uploads/2016/02/foil-logo.jpg'>
        <img src='http://www.preen.co.nz/user/images/26483.jpg?t=1702281429'>
        
<!Mesop>
        <img class='logo logo-negative', src='https://cdn.shopify.com/s/files/1/2182/7131/files/Layer_1_48c3dccd-ec0a-4895-a193-9c3bb2d95cd5_1024x1024.png?v=1499998262'>
        <img src='https://cdn.shopify.com/s/files/1/2182/7131/products/m_ms17110__10_8d01fd57-0e3f-4c48-98d5-750a0168be03_2048x2048.jpg?v=1500873734'>
        
<!Michael Ridley>
        <img class='logo', src='http://www.michaelridley.com.au/assets/images/logo-home.png'>
        <img src='http://www.michaelridley.com.au/assets/components/gallery/connector.php?action=web/phpthumb&ctx=web&w=400&h=690&zc=0&far=&q=90&src=%2Fassets%2Fgallery%2F4%2F323.jpg'>

<!Wooden Ships>
        <img class='logo', src='https://cdn.shopify.com/s/files/1/1436/4400/t/2/assets/logo.png?12145743974471405205'>
        <img src='https://cdn.shopify.com/s/files/1/1436/4400/products/washedashore-70.jpg?v=1500123662'>
        
<!Alembika>
        <img class='logo', src='http://alembika.com/wp-content/uploads/2016/09/logo.svg'>
        <img src='http://alembika.com/wp-content/uploads/2016/12/Alembika_web_B.png'>
        
    </body>
</html>    