<!DOCTYPE html>
<html>
    <head>
        <title>Lisa D - Gallery</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1><%= title 'Instagram' %></h1>
        <h3>Follow @lisa_d_boutique</h3>
        <div class='myiframe'>
            <!-- LightWidget WIDGET -->
            <script src="//lightwidget.com/widgets/lightwidget.js"></script>
            <iframe src="//lightwidget.com/widgets/34db14eafded5833a36e1b3421b1fee0.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
        </div>   
    </body>
</html>